---
BasedOnStyle: Chromium
BreakBeforeBraces: Linux
IndentWidth: '4'
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty

BreakInheritanceList: AfterColon

...
