---
BasedOnStyle: Chromium
BreakBeforeBraces: Linux
IndentWidth: '4'
ColumnLimit: 100
AccessModifierOffset: 0
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty

BreakInheritanceList: AfterColon

...
