[include]
    path = ~/.config/git/themes.gitconfig

[core]
    excludesfile = ~/.config/git/.gitignore_global
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = false
    features = hoopoe

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
	default = current

[icdiff]
	options = --highlight --line-numbers

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
    open-mr = show-mr

[log]
	date = iso-local

[pull]
	ff = only

[color]
  ui = true
  diff = auto
  status = auto
  grep = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  old = red
  new = green
  frag = magenta

[user]
    name = ingjieye
    email = ingjieye@gmail.com

[includeIf "gitdir:~/dev/rc/"]
    path = ~/.config/git/work.gitconfig
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
